
/* this is a comment */

/* #catching tag or element */
/* h1 {
    
} */
/* in css if we want to catch an id or want to change specific text we have to put #sign in style.css page before the element */
/* #welcome {
    color: rgb(61, 80, 73);
} */

/* another way to select an element is by declaring class */
/* class is also an attribute which indentifies a particular element */
/* to declare class */
/* .header {
    color: burlywood;
}


h1.header {
    color: rgb(22, 97, 62);
} */

/* universal selector */
/* * {
    color:rgb(0, 0, 0);
} */

/* grouping selector */
h1, #welcome {
    color: blueviolet;
}


/* background color change */

/*0.1 opacity means so much opacity it 
will appear so light and fonts wont be 
that visible and more it is like 0.9 it
 will be more visible */
body {
    /* background-color: azure; */
    /* background-image: url("https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg"); */
    opacity: 0.7;
    /* background-image: url("https://plus.unsplash.com/premium_photo-1712956443676-76a1e230c898?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* when we have small image and want to position in the top right corner */
    background-position: right top;

}

b {
    margin-top: 60px;
}


p {

    /* we use margin to have space around the text */
    /* margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-top: 50px; */
    
    /* margin-left: 50%; */




    /* here the sequence it top, right , bottom and left */
    /* margin: 50px 50px 50px 50px; */


    /* we can also declare like top and down, right and left margin */

    /* margin: 50px 50px; */

    /* one more way to give margin in inherit  */

    /* margin-top: inherit; */



    /* border */
    border-style: dotted;

}

h1.header {
    border-style: solid;
}
h1#welcome {
    border-style: groove;
}
/* more thicker than grove */
h1#wth {
    border-style: double;
}

h1#wtf {
    border-style: ridge;
}
h1#wtc {
    border-style: outset;
}
h1#wtd {
    border-style: inset;
}


h1#welcum {
    border-style: dashed;
}


p.nones {
    border-style: none;
}
p.hides {
    border-style: hidden;

}

h2.mixx {
    border-style: double dotted solid dashed;
}

h3.mixx {
    border-style: solid;
    /* border-width: 5px; */
    border-width: thick;
    border-width: medium;
    border-width: thin;

    /* top right bottom left */
    border-width: 5px 4px 3px 2px;
    /* top bottom  || left right */
    border-width: 5px 4px;
    
    /* border color */
    border-color: black;
    border-color: black blueviolet;
    border-color: black blueviolet orangered yellowgreen;
    /* we can also manually change  */
    border-top-style: dashed; 

    /* we can change everything by 1 order */

    border-left: 3px dashed purple;
    border: 3px dashed purple;


    /* to make it round */
    border-radius: 10px;

    /* so basically we use padding to give some space inside of a border or box */
    padding-top: 40px;
    padding-left: 40px;

    /* top right bottom left */
    padding: 40px 10px 20px 30px;
    /* top bottom left right if we give 2 parameter */
    padding: 40px 10px;

    /* we can declare all in 1 command top right bottom left*/
    padding: 40px;

}

h3.hwx {
    /* height width */
    height:150px;
    width: 150px;
    background-color: bisque;

    /* to get idea of a page length */
    width: 40%;

    /* we can indiacte element limited to by max-width by giving max-width:  */
    max-width: 50%;



}

/* Outline */
h3.outline {
    /*now giving outline of a box. its same as border*/
    border: 2px dashed darkorchid;

    outline-style: solid;


    /* we can set offset for giving space both from outline and border */
    outline-offset: 10px;  

}

h1#textfirst {
    color: brown;
    background-color: aquamarine;
    text-align: center;
    height: 50%;
    width: 45%;
    
    /* justify stretches all the words according to its height and
     widths */
    /* basically means that particular texts wraps around
     the whole lenght */
    
    text-align: justify;
    
    /* below command helps to center the last line text */
    text-align-last: center ; 

    /* it sends the smaller part to the top. like if we create a
     new class inside of that particular text and call
      vertical-align it will go top */
    vertical-align: top;


    text-decoration-line: overline;
    text-decoration-color: rgb(59, 73, 73);
    text-decoration-style: dashed;
    text-decoration-thickness: 10px; 
    
    text-decoration: underline purple dotted 4px;

}


p {
    text-transform: capitalize;
}

h1#textfirst, a {
    text-decoration: none;
    text-transform: uppercase;
    text-transform: capitalize;

    /* text-indent: 100px; */

    letter-spacing: 10px;

}
